<h1>Eat Da Burger!</h1>

<img src="/public/images/burger.png">

<h2>Bon Appetite!</h2>

<ul>
    {{#each burger}}
    {{#unless devoured}}
    {{> burger/burger-block burger=true}}
    {{/unless}}
    {{/each}}
</ul>

<h2>Tasty!!!</h2>

<ul>
    {{#each burger}}
    {{#if devoured}}
    {{> burger/burger-block burger=false}}
    {{/if}}
    {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

    <div class="form-group">
        <label for="burger_name">Burger Name:</label>
        <input type="text" id="burger_name" name="burger_name">
    </div>

    <button type="submit">Add Burger</button>
</form>